<div>Starship Template</div>
<br>
<div>
    <div>Name: {{starship.name}}</div>
    <div>Cost (credits): {{starship.cost_in_credits}}</div>
    <div>Manufacturer: {{starship.manufacturer}}</div>
    <div>Crew: {{starship.crew}}</div>
    <div>Passengers: {{starship.passengers}}</div>
    <div>Length: {{starship.length}}</div>
    <div>Max Atmosphering Speed: {{starship.max_atmosphering_speed}}</div>
    <div>Cargo Capacity: {{starship.cargo_capacity}}</div>
    <div>Consumables: {{starship.consumables}}</div>
    <div>Hyperdrive Rating: {{starship.hyperdrive_rating}}</div>
    <div>MGLT: {{starship.MGLT}}</div>
    <div>Starship Class: {{starship.starship_class}}</div>
    <div>Pilots: {{starship.pilots}}</div>
    <br>
    <button ui-sref="starships">Back to Starships</button>
</div>
